{% extends 'base.html' %}
{% block title %}Expert Dashboard{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/expert-dashboard.css">
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="content">
    <div class="row m-5">
        <div class="col-12">
            <h1>Expert Dashboard</h1>

            <table class="table table-striped table-hover table-bordered mt-5">
                <thead>
                    <tr>
                        <th scope="col">Room ID</th>
                        <th scope="col">Last activity</th>
                        <th scope="col">User status</th>
                        <th scope="col">Connect</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>{{room.id}}</td>
                        <td>{{room.modified}}</td>
                        <td>
                            {% if room.users %}
                            <b>User is waiting</b>
                            {% else %}
                            User not in room
                            {% endif %}
                        </td>
                        <th><a href="/{{room.id}}/expert" data-users="{{room.users}}">Join</a></th>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">
                            <div class="m-5 text-center">
                                No customers need help right now.
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="margin:0;padding:10px;bottom:5px;left:0px;width:100vw;text-align:center;font-size:75%">
Copyright 2020 <img width=50 style="margin-bottom:7px" src="/static/images/fxpal.png">
</div>

{% endblock %}

{% block js %}
<script src="/static/ext/socket.io/2.2.0/socket.io.js"></script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}