{% extends 'base.html' %}
{% block title %}Leap Motion Server{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/expert.css">
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div id="container" class="container">
    <h1>Expert View</h2>
    <video id="video" autoplay="1"></video>
    <canvas>
</div>
<video id='stepVideo' style='display:none;margin:0;position:fixed;width:100vw;height:100vh;object-fit:contain;background-color: #fff'></video>
<div id="stepVideoOverlay" style='display:none;margin:0;position:fixed;width:100vw;height:100vh;object-fit:contain'></div>
<div id="toolbar">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary btn-lg" id="zoom-small">
            <input type="radio" name="options" autocomplete="off" checked> <i class="fa fa-search-minus"></i>
        </label>
        <label class="btn btn-primary btn-lg active" id="zoom-medium">
            <input type="radio" name="options" autocomplete="off"> <i class="fa fa-search"></i>
        </label>
        <label class="btn btn-primary btn-lg" id="zoom-large">
            <input type="radio" name="options" autocomplete="off"> <i class="fa fa-search-plus"></i>
        </label>
    </div>
    <button class="btn btn-primary btn-lg" id="reset" data-trigger="hover" data-placement="top" data-content="Reset camera orientation"> reset </button>
    <button class="btn btn-primary btn-lg" id="fullscreen" data-trigger="hover" data-placement="top"  data-content="Toggle fullscreen"><i class="fa fa-window-maximize"></i></button>
    <button class="btn btn-primary btn-lg" id="qr" data-toggle="modal" data-target="#qrcode-modal" data-trigger="hover" data-placement="top" data-content="Show QR Code"> <i class="fa fa-qrcode"></i> </button>
    <button class="btn  btn-lg btn-danger" id="leapmotion" data-trigger="hover" data-placement="top" data-content="Leapmotion Websocket Connection. Click to reconnect."> connect to leapmotion </button>
    <button class="btn btn-primary btn-lg" id="ls" data-trigger="hover" data-placement="top"  data-content="Live steps"><span id="stepsLabel">steps</span> &nbsp <span id="stepsCount"></span></button>
</div>

<!-- Modal -->
<div class="modal fade" id="qrcode-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Customer QRCode Link</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 id="url" class="mb-5"></h3>
                    <div id="qrcode"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<div id="info"></div>
<script>
window.config = {
    roomid: "{{ roomid }}"
}
</script>
<script src="/static/ext/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script src="/static/ext/three.js/70/three.min.js"></script>
<script src="/static/ext/socket.io/2.2.0/socket.io.js"></script>
<script src="/static/ext/lodash.js/4.17.11/lodash.min.js"></script>
<script src="/static/ext/three.js/OBJLoader.js"></script>
<script src="/static/ext/three.js/MTLLoader.js"></script>
<script src="/static/ext/three.js/OBJMTLLoader.js"></script>
<script src="/static/ext/leap.js/leap-0.6.4.js"></script>
<script src="/static/ext/leap.js/leap-plugins-0.1.12.js"></script>
<script src="/static/ext/leap.js/leap-rigged-handle-0.1.7.js"></script>
<script src="/static/js/sioconnection.js"></script>
<script src="/static/js/webrtc.js"></script>
<script src="/static/ext/leap.js/leapmotionTrans.js"></script>
<script src="/static/js/Renderer.js"></script>
<script src="/static/js/expert.js"></script>
{% endblock%}
