{% extends 'base.html' %}
{% block title %}ScreenAR Expert{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
Hello
<video id='video'></video>
{% endblock %}
{% block js %}
<script src="/static/ext/socket.io/2.2.0/socket.io.js"></script>
<script src="/static/js/webrtc.js"></script>
<script>
// setup sample video
var constraints = {
    video: false,
    audio: true
}

var wrtc;
navigator.mediaDevices.getUserMedia(constraints).then(
    function(stream) {
        wrtc = new WebRTCClient({ stream: stream, dataChannel:'ScreenAR' });
        wrtc.on('stream', function(id, stream) {
            var video = $('#video')[0]
            video.srcObject = stream;
            video.autoplay = true;
        });
    }
);

video.addEventListener('click',function (evt) {
    evt.preventDefault();
    evt.stopPropagation();
    let x = evt.pageX;
    let y = evt.pageY;
    x -= this.offsetLeft;//rect.left;
    y -= this.offsetTop;//rect.top;
    x = x / this.offsetWidth;
    y = y / this.offsetHeight;
    let x0 = y * 1024;
    let y0 = x * 1024;
    x0 |= 0;
    y0 |= 0;
    console.log('sending x0,y0=',x0,y0)
    wrtc.sendChannel.send(`${x0},${y0}`);
});

</script>
{% endblock%}
