:root{
--blue:#3d73d3;
}

body{font-family:Arial}
/*background-image:url(wood.jpg)*/

}
canvas,img{object-fit:contain;background-color:gray;vertical-align:top;border:1px solid blue;background-color:#ccc}
#overlay{position:absolute;width:100%;height:100%;overflow:hidden}
#sourcecanvas{position:absolute;object-fit:contain;width:100%;height:100%;overflow:hidden}
#correctedcanvas{float:right;margin-right:16px;background-color:#ccc;width:400px;height:300px;object-fit:contain}
#screenarcontainer
{
  background-color:#ccc;
  margin:16px;
  width:640px;height:480px;
  position:relative;
  display:block;
}
#video{display:none}
#dashboard{
display:none;
margin:32px;
padding:32px;
position:absolute;
right:0;top:0;
color:white;
font-family:Courier;
border-radius:2px;
border:5px solid white;font-size:24px;width:400px;height:320px;
background-color:#1B1A1C;
cursor:pointer;
}
#dashboard button {
outline:none;
background-color:transparent;
border-radius:0px;
border:2px solid white;
margin:2px;
}

#dashboard * { cursor:pointer;font-family:courier;font-size:24px;color:white}
#dashboard td { border:2px solid white;text-align:center;width:32px;height:32px;}
#dashboard input { outline:none;color:black}

#overlay{pointer-events:all;position:absolute;background-color:transparent}

.mark{
padding:0.3%;
color:white;
font-size:30%;
opacity:0;
transform-origin:0 0;
position:absolute;
width:20%;height:20%;
transform:translate(-50%,-50%);
border:0px solid #ccc;
border-radius:2px;
background-color:rgba(0,0,255,0.3);
transition:opacity 0.3s ease-in-out;
}
.mark > span {
  background-color:rgba(0,0,0,0.2);
  position:absolute;left:0;top:0;
  width:100%;
  text-align:center;
}

